body{
    padding: 100px;
}
.submit-area{
margin-top: 50px;
border-radius: 10px;
box-shadow: 5px 5px 10px gray;
padding: 50px;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: rgb(10, 82, 82);
    
}
.withdraw{
    background-color: burlywood;
}
.balance{background-color: goldenrod;}

.status{
    padding: 25px;
    border-radius: 10px;
    color: aliceblue;
    
}